.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    /* border: 1px solid red; */
    padding: 30px;
    flex-wrap: wrap;
    background-color: #fff;
    z-index: 1;
    /* border-bottom: 1px solid black; */
}

.titleDescription {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(82, 82, 141);
}

.ul {
    list-style: none;
}

.li {
    display: inline;
    margin-right: 40px;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

.link:hover {
    color: rgb(127, 126, 126);
}

.selected {
    text-decoration: none;
    color: rgb(127, 126, 126);
}