.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rooms {
    margin-top: 50px;
}

.hr {
    margin: 10px 0 30px 0;
}

.room {
    display: flex;
    margin-bottom: 60px;
    border: 1px solid gray;
    width: 800px;
}

.img {
    width: 450px;
    min-width: 450px;
    height: 300px;
    border-right: 1px solid black;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.roomTitle {
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
}

.roomDescription {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    width: 300px;
}

.people {
    margin-top: 15px;
    font-size: 14px;
    width: 300px;
}

.available {
    margin-top: 15px;
    font-size: 14px;
    width: 300px;
}

.btn {
    height: 50px;
    width: 160px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid black;
    transition: all 1s;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: black;
    color: #fff;
}

.users {
    font-size: 10px;
    margin-right: 2px;
}

.link {
    text-decoration: none;
}

.btnLink {
    text-decoration: none;
    color: inherit;
}