.calendarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.entry {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    margin-right: 50px;
    text-align: center;
    cursor: pointer;
}

.exit {
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.calendarIcon1 {
    position: absolute;
    margin: 3px 0 0 8px;
}

.calendarIcon2 {
    position: absolute;
    margin: 3px 0 0 8px;
}

.calendarContainerEntry {
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 91px;
}

.calendarContainerExit {
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 286px;
}

.p {
    margin: 4px 10px 0 0;
    font-size: 18px;
}