.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hr {
    width: 1000px;
}

.room {
    display: flex;
    width: 1000px;
    border: 1px solid gray;
    margin-top: 30px;
    border-radius: 12px;
}

.img {
    height: 400px;
    max-width: 600px;
    border-right: 1px solid black;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.roomDetail {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 10px;
}

.descriptionDetail {
    text-align: left;
    margin: 15px 10px 0 20px;
}

.spec {
    margin-top: 10px;
}

.buy {
    margin: 60px 0 60px 0;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 300px;
    width: 600px;
}

.buyTitle {
    font-size: 40px;
}

.buyDescription {
    margin-top: 30px;
    font-size: 20px;
}

.total {
    margin-top: 40px;
    font-size: 20px;
}

.pay {
    background-color: #007bff;
    border: 1px solid;
    border-radius: 4px;
    height: 40px;
    width: 550px;
    cursor: pointer;
    transition: all 0.5s;
    color: white;
    margin-top: 20px;
    font-size: 16px;
}

.pay:hover {
    background-color: #0366cf;
}