.carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  min-height: 504px;
  /* border: 1px solid red; */
}
  
.active {
  width: 100%;
  /* transition: transform 0.5s ease-in-out; */
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  filter: brightness(0.6) blur(1px);
  object-fit: cover;
}

.inactive {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
}

.button {
  position: absolute;
  margin-top: 620px;
  z-index: 2;
  height: 60px;
  width: 230px;
  font-size: 26px;
  background-color: #fff;
  border: 1px solid black;
  transition: all 1.5s;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: #fff;
}