.galery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
    margin-left: -160px;
    overflow-x: hidden;
    margin-top: 100px;
}

.item {
    height: 350px;
    width: 550px;
    transition: all 0.2s;
}

.item:hover {
    opacity: 0.3;
}