.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 70px 30px 70px 30px;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.container > div {
    margin-right: 100px;
}

.titleDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.description {
    font-size: 20px;
}

.data {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    text-align: center;
}

.icon1 {
    color: inherit;
    position: absolute;
    margin-left: 10px;
    padding-top: 3.5px;
}

.icon1:hover {
    color: rgb(188, 42, 141);
}

.icon2 {
    color: inherit;
    position: absolute;
    margin-left: 35px;
    padding-top: 3.5px;
}

.icon2:hover {
    color: rgb(24, 119, 242);
}

.icon3 {
    color: inherit;
    position: absolute;
    margin-left: 60px;
    padding-top: 3.5px;
}

.icon3:hover {
    color: rgb(29, 161, 242);
}

.made {
    position: absolute;
    margin: 215px 0 0 150px;
}

.heart {
    transform: translateY(1.8px);
    cursor: none;
}

.heart:hover {
    color: red;
}

.tomas {
    text-decoration: none;
    color: inherit;
}

.tomas:hover {
    color: rgb(90, 87, 87);
}

.p {
    font-size: 12px;
}