.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 50px;
}

.description {
    text-align: left;
    width: 700px;
    font-size: 14px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    margin-bottom: 50px;
}

.img {
    width: 550px;
    height: 450px;
}

.arrive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arriveTitle {
    margin-bottom: 10px;
    font-size: 35px;
}

.arriveDescription {
    text-align: left;
    width: 700px;
    font-size: 14px;
}